
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
    <style>
        h2{
            float:right;
            color:magenta;
            font-weight:100;
        }
    </style>
</head>
<body>
    <h1>Welcome User.</h1>
    <h2>Date:@DateTime.Now.ToLongDateString()</h2>
</body>
</html>
